<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/数据结构与算法/src/第一章_引论/本章讨论内容/DemoOne.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="第一章_引论.本章讨论内容.DemoOne"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="数据结构与算法"/>
</launchConfiguration>
